body{
    background-color: #ffe8c8;
    border-left: 30px solid #764400;
    border-right: 30px solid #764400;
    margin: 0;
    padding-top: 2rem;
    font-family: "Roboto",sans-serif,;
    min-height: 100vh;
    font-style: italic;
}

.container {
    padding: 2rem;
    margin: auto;
    width: 1000px;
    max-width: 100%;
}

.logo{
    color: #764400;
    font-size: 4rem;
}

h1{
    color: #A66000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 4rem;
    margin: 0;

}

h1 a {
    transform: scale(0.8);
}

a {
    
    display: inline-block;
    color: white;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
}

a::after {
    background-color: #A66000;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: skew(-30deg);
    z-index: -1;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.col{
    flex: 1;
    text-align: center;
}

.col:first-child {
    margin-right: 4rem;
}

.text{
    font-size: 2rem;
}

.text p {
    font-weight: 200;
}

img {
    box-shadow: 15px 15px #A66000;
    margin: 3rem 0;
}

img.shadow-reverse {
    box-shadow: -15px -15px #a66000;
}

.block{
    font-size: 3rem;
    display: block;
    text-align: center;
    margin-top: 5rem;
}

@media screen and (max-width: 700px) {
    h1 {
        text-align: center;
    }

    .col:first-child {
        margin-right: 0;
    }
}